body {
    background-color: rgb(50, 20, 125);
    font-family: sans-serif;
    color: rgb(187, 184, 255);
    line-height: 2.2em;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3 {
    font-family: monospace;
    background-color: rgb(187, 184, 255);
    color: rgb(50, 20, 125);
    padding: 15px;
} 
h1 {
    font-size: 40px;
}

img {
    width: 600px;
}

.header {
    background-color: rgb(187, 184, 255);

}